<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <!-- <xacro:include filename="$(find iai_kinect2_description/urdf/kinect2.urdf.xacro"/> -->

   
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find robot_config)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>
 
 <!-- <xacro:gripper parent="tool"/> -->
  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 1" rpy="0.0 0.0 0.0" />
  </joint>



  <!-- Define RGB-D sensor 
  <xacro:kinect2_xacro name="kinect2_camera" parent="world">
    <origin xyz="0.1 0 1.5" rpy="0 ${75.0 * deg_to_rad} 0"/>
    <origin xyz="0 0 0" rpy="${-90.0 * deg_to_rad} 0 ${-90.0 * deg_to_rad}"/> 
  </xacro:kinect2_xacro> -->

</robot>
